*{
    margin: 0px;
    padding: 0px;
}
#vertical_line{
    height: 70px;
    border: 1px solid rgb(197, 195, 195)
}

#nav_delivery>h5{
    margin: 0px;
    font-weight: 800;
}

#nav_delivery{
    margin: 0px;

}

#search_div{
    color: 1px solid #f2f2f2;
    background-color:#f8f8f8;
    border-radius: 5px;
    padding-inline: 10px;
    width: 40vw;

}
#search_div>input{
    border: none;
    background-color: transparent;
    width: 95%;
    height: 45%;

}
#Categories_section{
    width: 90vw;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}